#banner {
  background: image-url('background.jpeg');
  background-size: cover;
  height: 500px;
  margin-top: -50px;
  color: white;
  h1 {
    font-size: 90px;
    padding-top: 200px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 25px;
  }
  i {
    font-size: 30px;
    padding: 30px 10px;
  }
  a {
    color: white;
    &:hover {
      color: $purple;
    }
  }
}