<% content_for :title, 'Welcome on Sonia\'s wonderful portfolio' %>

<div id="banner" class="text-center">
  <h1><%= t('.name').html_safe %></h1>
  <div class="expandUp">
    <h3><%= t '.position' %></h3>
  </div>
  <ul class="list-inline">
    <li><a href="mailto:sonia@auboulotsimone.fr"><i class="fa fa-paper-plane"></i></a></li>
    <li><a href="https://github.com/soniaprevost"><i class="fa fa-github"></a></i></li>
    <li><a href="https://fr.linkedin.com/in/soniaprevost"><i class="fa fa-linkedin-square"></a></i></li>
    <li><a href="https://twitter.com/wondersonja"><i class="fa fa-twitter"></i></a></li>
  </ul>
</div>

<%= render 'presentation' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center private">
      <%= link_to 'Private', account_path %>
    </div>
  </div>
</div>
